*{
	padding:0px;
	margin: 0px;
}
body{
	background-color: #f0f1f1;
	height: 100%;
}
.usuario{
	width: 20%;
	height:auto;
	margin-bottom: 0px;
	background-color: #374f42;
	position: relative;
	float: left;
}
.contenedor{
	width: 80%;
	height: auto;
	background-color: transparent;
	position: relative;
	float: left;
}
.inf{
	width: 100%;
	height: 60px;
	background-color: #67993e;
	position: relative;
	float: left;
}
.inf p{
	width: 100%;
	text-align: center;
	font-size: 25px;
	color: white;
	margin-top: 20px;

}
.seccion{
	position: relative;
	float: left;
	height: 30px;
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding-top: 6px;
	box-sizing: border-box;
	background-color: #5bcea0;
	color: white;
}
.imgUsu{
	width: 35px;
	height: 35px;
	background-color: #f2f2f2;
	position: relative;
	float: right;
	border-radius: 100%;
	margin-top: 15px;
	margin-right: 20px;
}
.nombreUsu{
	width: 250px;
	font-size: 20px;
	position: relative;
	float: right;
	color: #F2F2F2;
	margin-top: 20px;
	background-color: transparent;
}
.opc1{
	position: relative;
	float: left;
	width: 100%;
	height: 40px;
	background-color: transparent;
	padding-left: 40px;
	padding-top: 10px;
	font-size: 15px;
	color: white;
	box-sizing:border-box;
}
.opc{
	padding-top: 10px;
	box-sizpxg:border-box;
	position: relative;
	float: left;
	font-size: 15px;
	color: white;
	padding-left: 40px;
	height: 40px;
	width: 100%;
	background-color: transparent;
	margin-top: 0px;	
}
.opc1:hover{
	background-color:rgba(255,255,255,.4);
	color: white;
	cursor: pointer; 
}
.opc:hover{
	background-color:rgba(255,255,255,.4);
	color: white;
	cursor: pointer; 
}
.header{
	width: 100%;
	height: 60px;
	position: relative;
	float: left;
	background-color: #6aac39;
	
}
.buscar{
	position: relative;
	float: right;
	outline: none;
	right: 45px;
	margin-top: 10px;
	width: 180px;
	height: 20px;
	font-size: 13px;
	border-radius: 20px;
	padding-left: 15px;
	box-sizing:border-box; 
}
.tabUsu{
	position: relative;
	float: left;
	height: auto;
	width: 85%;
	margin-left: 7.5%;
	margin-top: 100px;
	background-color: #ffffff;
}
.busqueda{
	background-color: #f5f5f5;
	width: 85%;
	margin-left: 7.5%;
	position: relative;
	float: left;
	margin-top: 40px;
	height: 35px;
}
.busqueda p{
	height: 100%;
	width: auto;
	position: relative;
	float: left;
	color: #777777;
	padding-top: 7px;
	box-sizing: border-box;
	margin-left: 25px;
}
table{
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
	position: relative;
	float: left;
	margin-bottom: 40px;
	color: #777777;
	font-size: 14px;
	border-collapse: collapse;
}
td{
	
	text-align: center;
	border: 2px solid #e6e6e6;
}
.tdID{
	width: 12%;
}
.tdNom{
	width: 25%;
}
.tdTel{
	width: 25%;	
}
.tdCor{
	width: 25%;
}