<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/estiloLogin.css">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
</head>
<body>
	<div class="contenedor">
		<div class="contenedor2">
			<img src="img/usuario.png">
			<div class="contenedor3">
				
				<input id="usu" type="text" name="usu" placeholder="Nombre de usuario">
				<input id="pass" type="password" name="pass" placeholder="Contraseña">
				<button id="continuar">Acceder</button>
				<p id="reg">Eres nuevo registrate aquí</p>

			</div>	
		</div>
	</div>
    <script src="js/login.js"></script>
</body>
</html>