<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
	<link rel="stylesheet" type="text/css" href="css/estiloRegistro.css">
	<meta charset="utf-8">
</head>
<body>
	<div class="contenedor">
		<div class="contenedor2">
			<img src="img/usuario.png">
			<div class="contenedor3">
				<input id="nom" type="text" name="usu" placeholder="Nombre(s)">
				<input id="ap" type="text" name="usu" placeholder="Apellidos">
				<input id="dir" type="text" name="usu" placeholder="Direccion">
				<input id="tel" type="tel" name="usu" placeholder="Telefono">
				<input id="mail" type="email" name="usu" placeholder="Correo">
				<input id="usu" type="text" name="usu" placeholder="Nombre de usuario">
				<input id="pass" type="password" name="pass" placeholder="Contraseña">
				<input id="pass2" type="password" name="pass" placeholder="Confirmar Contraseña">
				<button id="registro">Registrar</button>
			</div>	
		</div>
	</div>
</body>
</html>